@import url(/components/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css);
@import url(../../administracion/fuentes/fuentes.css);
* {
  font-family: "open_sans";
}
img {
  max-width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.cuadro-galeria {
  overflow: hidden;
}
.btn-primarym {
  background: #f7cb4b;
  color: #ffffff;
}
.cuadro-galeria .cuadro-imagen-galeria {
  height: 250px;
  overflow: hidden;
  margin-top: 15px;
  background-size: cover !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
.input_correo {
  background-color: transparent;
  width: 100%;
}
.cuadro-galeria h3 div {
  display: table-cell;
  vertical-align: middle;
  height: 35px;
}
.cuadro-galeria h3 a {
  color: #ffffff;
  background: #95251f;
  text-decoration: none;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  /*
	 text-transform: lowercase; */
}
.cuadro-galeria h3 {
  color: #ffffff;
  background: #95251f;
  font-size: 18px;
  padding: 5px;
  border: 1px #cccccc solid;
  margin: 0px;
  height: 54px;
  display: table;
  width: 100%;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.contenedor-bajo .fecha {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 15px;
  color: #999999;
  font-weight: 300;
}
.contenedor-bajo .compartir {
  color: #999999;
  border-left: 1px #cccccc solid;
  display: inline-block;
  vertical-align: middle;
  padding-left: 14px;
  padding-right: 14px;
  float: right;
  font-size: 12px;
}
.contenedor-bajo .red2 i {
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  width: 25px;
  text-align: center;
  background: #68696a;
  border-radius: 50%;
  border: solid 1px #ffffff;
  transition: 0.5s;
}
.contenedor-bajo .red2 i:hover {
  background-color: #f7cb4a;
  transition: 0.5s;
}
.cuadro-galeria .cuadro-imagen-galeria:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.contenedor-bajo {
  border: 1px #cccccc solid;
  border-top: 1px transparent solid;
  padding-top: 10px;
  height: 45px;
}
.contenedor-general {
  margin-top: 100px;
}
.dinamica {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
header .header-redes {
  background: #95251f;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .header-redes .buscar i {
  color: #ffffff;
  padding-top: 10px;
}
header .header-redes .red {
  display: inline-block;
  margin: 0px;

  color: #ffffff;
}
.fa-caret-right {
  color: #68696a !important;
  transition: 0.5s;
}
.fa-caret-right:hover {
  color: #95251f !important;
  transition: 0.5s;
}
header .header-content nav ul li ul {
  position: absolute;
  background-color: #ffffff;
  left: -1%;
  height: auto;
  z-index: -1;
  padding: 0;
  top: 94%;
  width: auto;
  text-align: left;
  /*padding-top: 10px;*/
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: none;
}
header .header-content nav ul li:hover ul {
  display: block;
}
header .header-content nav ul li:hover i {
  color: #68696a;
}
header .header-content nav ul li ul li {
  text-align: left;
  width: 253px;
  display: block;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
  padding-top: 6px;
}
header .header-content nav ul li ul li:hover {
  background-color: #95251f;
  transition: 0.5s;
  color: #ffffff;
}
header .header-content nav ul li ul li a {
  color: #68696a !important;

  font-family: "AvenirLTStd-Light";
  transition: 0.5s;
  padding-top: 6px;
  padding-bottom: 6px;
}
header .header-content nav ul li ul li:hover a {
  color: #ffffff !important;
  transition: 0.5s;
}
header .header-content nav ul li ul li:hover .fa-caret-right {
  color: #ffffff !important;
  transition: 0.5s;
}
header .header-content nav ul .linea {
  position: absolute;
  padding-top: 25px;
  color: #95251f;
}
header .header-redes .red span {
  font-family: "AvenirLTStd-Light";
  font-size: 13px;
  transition: 0.5s;
}
header .header-redes .red span:hover {
  color: #f7cb4a;
  transition: 0.5s;
}
.card-header {
  cursor: pointer;
  transition: 0.5s;
}
.card-header:hover {
  background-color: #bf3730;
  transition: 0.5s !important;
}
header .header-redes .red i {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #68696a;
  color: #ffffff;
  width: 25px;
  text-align: center;
  border-radius: 5em;
  transition: 0.5s;
}
header .header-redes .red:hover {
  text-decoration: none;
  transition: 0.5s;
}
header .header-redes .red:hover i {
  background: #f7cb4a;
  color: #ffffff;
}
header .header-content {
  height: 80px;
  background: #cccccc;
}
header .header-content .logo {
  max-height: 73px;
  margin-top: -1px;
}
header .header-content nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-top: -10px !important;
}
header .header-content {
  background: #f8f6f5;
  border-bottom: 2px solid #95251f;
}
header .header-content nav ul li {
  display: table-cell;
  position: relative;
}
header .header-redes .botones-header {
  padding-top: 6px;
  text-align: right;
}
header .header-redes .botones-header a {
  background: #95251f;
  color: #ffffff;
  text-decoration: none;
  padding: 4px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-family: "AvenirLTStd-Light";
  display: inline-block;
}
header .header-content nav ul li img {
  margin-left: -10px;
}
header .header-content nav ul li a {
  display: table;
  width: 100%;
  color: #333333;
}

header .header-content nav ul li a span {
  display: table-cell;
  vertical-align: middle;
  height: 85px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: #68696a;
  font-family: "AvenirLTStd-Light";
  transition: 0.5s;
  font-size: 17px;
}

header .header-content nav ul li a span:hover {
  color: #95251f;
  transition: 0.5s;
}

header .header-content nav ul li:hover a {
  color: #ffffff;
  text-decoration: none;
  color: #000000;
}

footer .fondo-verde {
  background: #323334;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "AvenirLTStd-Light";
}
footer .fondo-gris {
  background: #68696a;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
footer .fondo-gris h3 {
  font-family: "AvenirLTStd-Light";
  color: #ffffff;
  font-size: 20px;
  position: relative;
  font-weight: 100;
}
footer .fondo-gris h3::before {
  content: "";
  position: absolute;
  width: 180px;
  border-bottom: dashed #ffffff;
  top: 30px;
}
footer .redes-footer {
  padding-top: 20px;
}
footer .redes-footer .red i {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #95251f;
  color: #ffffff;
  width: 25px;
  text-align: center;
  border-radius: 5em;
  transition: 0.5s;
}
footer .redes-footer .red i:hover {
  background: #f7cb4a;
  transition: 0.5s;
}
footer .fondo-gris p {
  color: #ffffff;
  font-family: "AvenirLTStd-Light";
  padding-top: 20px;
  font-size: 15px;
}
footer .enlaces ul {
  padding-top: 16px;
}
footer .enlaces ul li {
  list-style: none;
  margin-left: -40px;
}
footer .enlaces ul li a {
  color: #ffffff;
  font-family: "AvenirLTStd-Light";
}
footer .logo-blanco {
  position: relative;
}
footer .logo-blanco img {
  padding-top: 50px;
}
footer .logo-blanco::after {
  content: "";
  position: absolute;
  width: 180px;
  border-bottom: dashed #ffffff;
  top: 30px;
}
/* estilos contenidos */
.fondo-azul {
  height: 10px;
  background: #74b3db;
}
.slider-simple .content-caption {
  color: #000000;
  padding: 20px;
  border-radius: 0.5em;
}

.slider-simple .content-caption h2 {
  color: #000000;
  font-weight: 700;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.contenedor-seccion {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contenedor-seccion .descripcion-seccion {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contenedor-seccion .descripcion-seccion h2 {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
  font-size: 40px;
  position: relative;
}
.contenedor-seccion .descripcion-seccion h2::before {
  content: "";
  position: absolute;
  width: 80px;
  margin-left: -40px;
  left: 50%;
  border-bottom: 3px solid #68696a;
  top: 55px;
}

.contenedor-seccion .descripcion-seccion p {
  font-family: "AvenirLTStd-Light";
}
.contenedor-seccion .fixed {
  background-position: fixed;
}

.caja-contenido-simple {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0.5em;
}
.caja-contenido-simple .archivo {
  background: #95251f;
  padding: 3px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.caja-contenido-simple a {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
  text-decoration: none;
}
.caja-contenido-simple h2 {
  font-weight: bold;
}

.caja-contenido-simple .imagen-contenido {
  display: table;
  width: 100%;
}

.caja-contenido-simple .imagen-contenido div {
  display: table-cell;
  height: 180px;
  text-align: center;
  vertical-align: middle;
}

.caja-contenido-simple .descripcion h2 {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
}
.caja-contenido-simple .descripcion p,
.caja-contenido-simple .descripcion strong,
.caja-contenido-simple .descripcion ul,
.caja-contenido-simple .descripcion li {
  font-family: "AvenirLTStd-Light";
}
.btn-vermas {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
.btn-vermas:hover {
  background: #ffffff;
  color: #000000;
}
.caja-contenido-simple img {
  padding: 20px;
}

.carouselsection .caja-contenido-simple {
  padding: 10px;
  border-radius: 0em;
}

.con-espacios .carouselsection .caja-contenido-simple {
  margin: 10px;
}

.con-espacios .carouselsection {
  padding-left: 40px;
  padding-right: 40px;
}

.fondo-video-youtube {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.banner-video-youtube {
  position: absolute;
  top: -80%;
  left: -80%;
  z-index: 1;
  margin: auto;
  opacity: 1;
  width: 260%;
  height: 260%;
}

.fondo-imagen {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-principal .carousel-caption {
  color: #000000;
  padding: 20px;
  border-radius: 0.5em;
  display: block;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-principal .carrusel-derecha,
.slider-principal .carrusel-izquierda {
  background: #68696a;
  color: #ffffff;
  border-radius: 5em;
  font-size: 25px;
  width: 40px;
  height: 40px;
}
.padding-crediciti {
  padding-bottom: 50px;
}
.crediciti {
  -webkit-box-shadow: 7px 6px 10px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 7px 6px 10px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 7px 6px 10px 0px rgba(0, 0, 0, 0.13);
}
.crediciti h2 {
  text-align: center;
  font-family: "AvenirLTStd-Light";
  color: #95251f;
  position: relative;
  font-size: 22px;
  padding-top: 10px;
}
.crediciti h2::before {
  content: "";
  position: absolute;
  width: 40px;
  border-bottom: 1px solid #d2d5d8;
  left: 50%;
  margin-left: -20px;
  top: 55px;
}
.icon_up {
  color: #95251f;
  width: 39px;
  height: 50px;

  position: fixed;
  left: 5%;
}
.icon_up i {
  color: #95251f !important;
}
.crediciti .fondo-gris {
  background: #f8f6f5;
  padding: 5px;
}
.crediciti .descripcion {
  min-height: 67px;
}
.crediciti .descripcion p {
  font-family: "AvenirLTStd-Light";
  font-size: 15px;
}
.crediciti .boton-crediciti {
  text-align: center;
  padding-bottom: 10px;
}
.crediciti .boton-crediciti .btn-vermas {
  background: #95251f;
  border: none;
  /* padding: 5px; */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 20px 20px 20px 19px;
  font-size: 12px;
  font-family: "AvenirLTStd-Light";
  transition: 0.5s;
}
.crediciti .boton-crediciti .btn-vermas:hover {
  background: #d2d5d8;
  color: #95251f;
  font-weight: 700;
  transition: 0.5s;
}
.contenedor-seccion .descripcion-seccion h3 span {
  font-family: "AvenirLTStd-Light";
  position: relative;
  font-size: 40px;
}
.contenedor-seccion .descripcion-seccion h3 span::before {
  content: "";
  position: absolute;
  width: 80px;
  border-bottom: 3px solid #ffffff;
  left: 50%;
  margin-left: -40px;
  top: 55px;
}
.contenedor-seccion .descripcion-seccion p {
  padding-top: 0px;
}
.contenedor-seccion .descripcion-seccion p span {
  font-family: "AvenirLTStd-Light";
}
.contenedor-seccion .boton {
  text-align: center;
  margin-top: -30px;
  padding-bottom: 40px;
}
.contenedor-seccion .boton .btn-vermas {
  background: #ffffff;
  color: #95251f;
  border: none;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 10px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 22px 20px 20px 20px;
  font-size: 15px;
  font-family: "AvenirLTStd-Light";
  transition: 0.5s;
}
.contenedor-seccion .boton .btn-vermas:hover {
  color: #ffffff;
  background: #95251f;
  transition: 0.5s;
}
.galeria-album {
  padding-bottom: 40px;
}
.galeria-album .album-index h3 {
  color: #ffffff;
  font-family: "AvenirLTStd-Light";
  background: #95251f;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  font-size: 33px;
  padding-top: 25px;
  min-height: 78px;
}
.galeria-album .imagen-album img {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.galeria-album .album-index a {
  text-decoration: none;
}
.galeria-album #carousel_container .left_scroll {
  position: absolute;
  top: 40%;
  margin-left: -50px;
  background: #d2d5d8;
  border-radius: 5em;
  padding: 10px;
  width: 43px;
  color: #ffffff;
}
.galeria-album #carousel_container .left_scroll i {
  padding-left: 5px;
}
.galeria-album #carousel_container .right_scroll {
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: -40px;
  background: #d2d5d8;
  border-radius: 5em;
  padding: 10px;
  width: 43px;
  color: #ffffff;
}
.galeria-album #carousel_container .right_scroll i {
  padding-left: 5px;
}
.noticias .noticia {
  border: 0.5px solid #eeeeee;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.27);
}
.noticias .noticia img {
  width: 93%;
  height: 200px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  margin-top: -20px;
}
.noticias .noticia .titulo {
  border-bottom: 1px solid #eeeeee;
  margin-left: 20px;
  margin-right: 20px;
}
.noticias .noticia h4 {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
  text-align: center;
  padding-top: 10px;
}
.noticias .noticia .compartir {
  padding-right: 20px;
  font-family: "AvenirLTStd-Light";
  padding-top: 10px;
}
.noticias .noticia .compartir a i {
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
  background: #d2d5d8;
  color: #ffffff;
  width: 22px;
  text-align: center;
  border-radius: 5em;
}
.noticias .noticia .fecha {
  padding-left: 20px;
  font-family: "AvenirLTStd-Light";
  border-right: 0.5px solid #eeeeee;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #999999;
  font-size: 15px;
}
.noticias .padding-noticias {
  padding-bottom: 50px;
}
.imagenes .coop {
  padding-top: 60px;
}
.imagenes .coop img {
  width: 40%;
  height: 100px;
  padding-top: 16px;
}
.facebook {
  margin-top: -20px;
  margin-bottom: 5px;
}
.contacto {
  padding-bottom: 40px;
}
.contacto .informacion-contacto {
  padding-top: 22px;
}
.cont_sin_espacio {
  margin: 0;
  margin-bottom: -2%;
}
.contacto .informacion-contacto h3 {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
}
.pol_datos {
  cursor: pointer;
  transition: 0.4s;
}
.pol_datos:hover {
  color: #95251f !important;
  transition: 0.4s;
}
.contacto .informacion-contacto p {
  font-family: "AvenirLTStd-Light";
}
.contacto .redes-contactenos span {
  font-family: "AvenirLTStd-Light";
}
.contacto .redes-contactenos a i {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #95251f;
  color: #ffffff;
  width: 25px;
  text-align: center;
  border-radius: 5em;
}
.btn-primary {
  background: #95251f;
  color: #ffffff;
  border: none;
  transition: 0.5s;
}
.btn-primary:hover {
  background: #68696a;
  color: #ffffff;
  transition: 0.5s;
}
.titulo-internas {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.titulo-internas h2 {
  font-family: "AvenirLTStd-Light";
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  color: #ffffff;
}
.noticias-interna {
  padding-top: 40px;
}
.page-item.active .page-link {
  background: #95251f;
  border: 1px solid #95251f;
}
.page-item.active:hover {
  color: #95251f;
}
.page-link {
  color: #95251f;
}
.page-link:hover {
  color: #95251f;
}
.detalle-noticias {
  padding-top: 40px;
  padding-bottom: 40px;
}
.detalle-noticias .fecha {
  font-family: "AvenirLTStd-Light";
  padding-top: 10px;
}
.detalle-noticias .titulo h2 {
  font-family: "AvenirLTStd-Light";
  color: #95251f;
}
.detalle-noticias .imagen img {
  width: 100%;
}
.detalle-noticias .redes {
  font-family: "AvenirLTStd-Light";
}
.detalle-noticias .redes a i {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #95251f;
  color: #ffffff;
  width: 25px;
  text-align: center;
  border-radius: 5em;
}
.convenios h2 {
  text-align: center;
  font-size: 22px;
  padding-top: 7px;
  color: #95251f;
}
.convenios {
  padding-top: 60px;
  padding-bottom: 90px;
}
.convenios .lista {
  background: #eeeeee;
  padding: 10px;
  margin: 5px;
}
.convenios .lista a {
  cursor: pointer;
  color: inherit;
  transition: 0.5s;
}
.convenios .lista a:hover {
  color: #95251f;
  transition: 0.5s;
  text-decoration: none;
}
.convenios .seccion-convenios {
  border: 1px solid #eeeeee;
}
.convenios .seccion-formatos {
  border: 2px solid #eeeeee;
}
.convenios .seccion-convenios img {
  width: 100%;
}
.convenios .convenio-interna {
  padding: 10px;
  position: relative;
}
.convenios .imagen-convenios {
  text-align: center;
}
.imagen-modal {
  text-align: center;
}
.g-recaptcha {
  padding-bottom: 10px;
}
.formatos {
  padding-top: 30px;
  padding-bottom: 60px;
}
.filtro_documentos {
  border-bottom: 2px solid #e1e4e6;
  padding: 4px 0;
  transition: 0.5s;
}
a.filtro_documentos {
  color: #95251f;
}
.filtro_documentos:hover {
  text-decoration: none;
  background-color: #95251f;
  transition: 0.5s;
  color: #ffffff;
  border-radius: 5px;
}
.formatos .titulo-formatos {
  background: #95251f;
  color: #ffffff;
}
.formatos .titulo-formatossub {
  background: #d19d3d;
  color: #ffffff;
  margin-left: 2%;
  padding: 7px !important;
}
ul.formatos_sub {
  margin-left: 5%;
  padding: 8px !important;
}
.formatos .titulo-formatos h4 {
  padding-top: 10px;
  font-family: "AvenirLTStd-Light";
}
.formatos ul li {
  list-style: none;
}
.formatos ul li a {
  color: #000000;
}
.formatos ul li a .col-6 {
  font-family: "AvenirLTStd-Light";
  padding-top: 10px;
}
.formatos ul li a i {
  color: #95251f;
  font-size: 30px;
  float: right;
}
.formatos .nombre {
  font-family: "AvenirLTStd-Light";
}
.ul_servicios {
  position: absolute !important;
  background: rgba(255, 255, 255, 0.9) !important;
  left: -12% !important;
  height: auto !important;
  z-index: -1 !important;
  padding: 0 !important;
  top: 94% !important;
  width: auto !important;
  text-align: left !important;
  /* padding-top: 10px; */
  -webkit-transition: all 500ms ease-in-out !important;
  -moz-transition: all 500ms ease-in-out !important;
  -ms-transition: all 500ms ease-in-out !important;
  -o-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
  display: none;
  margin-left: 7% !important;
}
.formatos ul {
  background: #eeeeee;
  padding: 15px;
}
.pqr-app {
  position: fixed;
  top: auto;
  right: 0;
  z-index: 999;
  width: 117px;
}
.pqr-app a {
  text-decoration: none;
}
.pqr-app p {
  font-family: "AvenirLTStd-Light";
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.pqr-app .fa-comments {
  margin-top: -10px;
}
.pqr-app .pqr {
  background: #95251f;
  -webkit-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
  padding: 10px;
}
.pqr-app .pqr i {
  color: #ffffff;
}
.pqr-app img {
  height: 40px;
}
.caja-buscador {
  padding-top: 30px;
}
.pqr-app .app {
  background: #95251f;
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
  padding: 10px;
}
.eventos {
  padding-top: 50px;
}
.fotos {
  padding-top: 40px;
  padding-bottom: 40px;
}
.fotos a {
  color: #000000;
  font-family: "AvenirLTStd-Light";
}
.fotos h2 {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
}
.fotos li {
  list-style: none;
}
.fotos .fa-chevron-right {
  position: absolute;
  z-index: 9;
  background: #95251f;
  padding: 10px;
  color: #ffffff;
  width: 40px;
  text-align: center;
  border-radius: 5em;
  right: 0;
  top: 50%;
}
.fotos .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 9;
  background: #95251f;
  padding: 10px;
  color: #ffffff;
  width: 40px;
  text-align: center;
  border-radius: 5em;
}
.fotos h3 {
  background: #95251f;
  color: #ffffff;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 10px;
}
.fotos tbody tr a {
  display: block;
}
.fotos .table th {
  border: 1px solid #eeeeee;
}
.preguntas-frecuentes {
  padding-bottom: 20px;
}
.preguntas-frecuentes a {
  text-decoration: none;
  color: #ffffff;
  font-family: "AvenirLTStd-Light";
  font-size: 20px;
}
.accordion {
  padding-bottom: 40px;
  padding-top: 20px;
}
.accordion .card-header {
  background: #95251f;
  font-family: "AvenirLTStd-Light";
  color: #ffffff;
}
.accordion .card-body .descripcion p {
  font-family: "AvenirLTStd-Light";
}
.formulario-pqr {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
}
.formulario-pqr #montoactual {
  border: 1px solid #eeeeee;
  padding: 15px;
  text-align: center;
}
.formulario-pqr label {
  font-family: "AvenirLTStd-Light";
}
.filtro_documentos.active{background-color: #95251f;color:#ffffff;border-radius:5px;}
.list_categoria {
  display: grid;
  text-align: left;
}
.padding-contenedor.productos{margin-bottom: 3%;}
.buscador {
    background: url('/skins/page/images/lupa.png') no-repeat 210px center;
}
h2.title_filtro {
  background: #2c2d6c;
  color: #ffffff;
  font-size: 19px;
  border-radius: 5px;
  padding: 5px;
}
.formulario-pqr .boton-pqr .btn-primary {
  border: none;
  background: #95251f;
  color: #ffffff;
  font-family: "AvenirLTStd-Light";
}
.clasificados {
  padding-top: 40px;
  padding-bottom: 40px;
}
.clasificados .activo {
  border-left: 4px #95251f solid;
  background: #eeeeee;
}
.clasificados th a {
  color: #95251f;
  text-decoration: none;
}
.clasificados .descripcion-producto {
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.15);
}
.clasificados .imagen-producto {
  background: #cccccc;
  text-align: center;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.15);
  height: 190px;
}
.clasificados .imagen-producto img {
  max-height: 190px;
}
.clasificados .introduccion {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 12px;
}
.clasificados h4 {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  color: #95251f;
}
.clasificados .boton-enviarclasificado {
  background: #95251f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.clasificados .boton-enviarclasificado:hover {
  background: #95251f;
}
.clasificados .boton-enviarclasificado a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.clasificados h2 {
  background: #95251f;
  color: #ffffff;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 10px;
}
.clasificados tbody tr a {
  display: block;
}
.clasificados .table th {
  border: 1px solid #eeeeee;
}
.detalle-producto .caja-imagenes {
  border: 1px solid #cccccc;
  background: #ffffff;
}
.detalle-producto {
  padding-top: 40px;
  padding-bottom: 40px;
}
.detalle-producto h2 {
  color: #95251f;
}
.detalle-producto .imagen-grande {
  display: table;
  width: 100%;
  text-align: center;
}
.detalle-producto .imagen-grande div {
  display: table-cell;
  vertical-align: middle;
  height: 380px;
  padding: 10px;
}
.detalle-producto .imagen-grande img {
  max-height: 100%;
  max-width: 100%;
}
.detalle-producto .imagenes-producto {
  border-right: 1px solid #cccccc;
}
.detalle-producto .imagenes-producto .imagen {
  height: 80px;
  background: #eeeeee;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}
.detalle-producto .imagenes-producto .imagen:last-child {
  border-bottom: 0;
}
.detalle-producto .imagenes-producto .imagen:hover {
  background: #95251f;
}
.detalle-producto .imagenes-producto .imagen img {
  max-height: 100%;
  max-width: 100%;
}
.modal .imagen-modal1 {
  z-index: 99999;
  width: 700px;
  height: 500px;
  position: fixed;
  left: 50%;
  margin-left: -350px;
  top: 0%;
}
.formularioclasificado {
  padding-top: 40px;
  padding-bottom: 40px;
}
.botonera-responsive {
  display: none;
}
.mapa {
  height: 200px;
}
.fondo-imagen-responsive {
  display: none;
}
.creditos {
  padding-top: 40px;
  padding-bottom: 40px;
}
.creditos h2 {
  color: #95251f;
  padding-top: 17px;
  min-height: 90px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  font-size: 23px;
}
.creditos img {
  margin-top: 20px;
}
.descripcion h2,
h3 {
  color: #95251f;
  font-family: "AvenirLTStd-Light";
}
.creditos .vermas-credito {
  border: 1px solid #eeeeee;
  padding: 10px;
  margin-top: -8px;
  cursor: pointer;
}
.creditos .descripcion-credito {
  background: #eeeeee;
  display: none;
  padding: 10px;
  margin-bottom: 10px;
}
.creditos a {
  text-decoration: none;
  color: #ffffff;
}
.creditos .archivo {
  background: #95251f;
  padding: 3px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 15px;
}
.adicionales .modal-header {
  background: #95251f;
  color: #ffffff;
}
.adicionales .olvido-contrasena {
  color: #95251f;
  padding-bottom: 20px;
}
.olvido {
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 150px;
}
.olvido .volver {
  color: #95251f;
  padding-top: 20px;
  padding-bottom: 20px;
}
.olvido .volver a {
  color: #95251f;
}
.olvido .btn-azul-login {
  background: #95251f;
}
.olvido i {
  font-size: 21px;
  padding: 8px;
  background: #eeeeee;
  color: #95251f;
}
.inscripcion {
  padding-top: 40px;
  padding-bottom: 40px;
}
.inscripcion .alert-primary a {
  color: #95251f;
  cursor: pointer;
}
.inscripcion .alert-primary a:hover {
  color: #95251f;
}
.formularioclasificado .alert-primary a {
  color: #95251f;
  cursor: pointer;
}
.formularioclasificado .alert-primary a:hover {
  color: #95251f;
}
.reglamentos {
  margin-top: -70px;
}
.modificacion {
  margin-top: -40px;
  margin-bottom: -40px;
}
.monto {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cambio-contrasena {
  padding-top: 40px;
  padding-bottom: 40px;
}
.cambio-contrasena .btn-azul-login {
  background: #95251f;
  color: #ffffff;
  border-radius: 7px;
}
.cambio-contrasena .boton-cambio a {
  background: #95251f;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
.cambio-contrasena .boton-cambio a:hover {
  background: #95251f;
}
@media (max-width: 1199px) and (min-width: 0px) {
  header .header-content nav ul li a span {
    font-size: 14px;
  }
}
@media (max-width: 991px) and (min-width: 0px) {
  header .header-content .botonera-responsive nav {
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    height: 100%;
    background: #ffffff;
    z-index: 9999;
    margin: 0;
    display: none;
    overflow: auto;
  }
  .contenedor-seccion .descripcion-seccion h2::before {
    display: none;
  }
  header .botonera {
    display: none;
  }
  header .header-content .botonera-responsive nav ul .linea {
    display: none;
  }
  header .botonera-responsive .fa-user-tie {
    padding-left: 10px;
    padding-top: 20px;
    font-size: 20px;
  }
  header .botonera-responsive .enlace-salir {
    background: #95251f;
    color: #ffffff;
    text-decoration: none;
    padding: 4px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-family: "AvenirLTStd-Light";
    display: inline-block;
  }
  header .header-content nav ul li ul li a {
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }
  header .botonera-responsive {
    display: block;
  }
  header .header-content .botonera-responsive nav ul {
    display: block;
    height: auto;
    width: 100%;
  }
  header .header-content .botonera-responsive nav ul li {
    display: block;
    height: auto;
    width: 100%;
    padding-top: 0px;
    color: #004b70;
  }
  header .header-content .botonera-responsive nav ul li ul li a {
    border: none;
    color: #004b70;
    z-index: 10;
  }
  .menu-responsive .fa-bars {
    float: right;
    margin-top: 30px;
    font-size: 30px;
    display: block;
    color: #95251f;
  }
  header .menu-responsive {
    display: block;
  }
  header .header-content .logo {
    padding-top: 18px;
  }
  .menu-responsive .fa-times-circle {
    padding-left: 270px;
    font-size: 30px;
    padding-bottom: 20px;
    display: block;
    color: #95251f;
  }
  header .header-content .botonera-responsive nav ul li a span {
    height: 40px;
    font-size: 22px;
    border-top: 1px solid #dee2e6;
  }
  header .header-content .botonera-responsive nav ul li ul {
    position: relative;
    padding: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: 999;
    display: none;
  }
  header .header-content .botonera-responsive .logo {
    padding-top: 2px;
  }
  .header-redes {
    display: none;
  }
  .contenedor-general {
    margin-top: 80px;
  }
  .crediciti img {
    width: 100%;
  }
  .galeria-album .album-index h3 {
    font-size: 19px;
  }
  .imagenes .coop {
    padding-top: 0px;
  }
  .imagenes {
    padding-bottom: 20px;
  }
  .fondo-gris {
    text-align: center;
  }
  footer .fondo-gris h3::before {
    left: 50%;
    margin-left: -90px;
  }
  footer .logo-blanco::after {
    left: 50%;
    margin-left: -90px;
  }
  .botonera-responsive .redes {
    padding: 15px;
  }
  .botonera-responsive .redes i {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    background: #95251f;
    color: #ffffff;
    width: 25px;
    text-align: center;
    border-radius: 5em;
  }
  header .botonera-responsive .redes a span {
    font-size: 13px;
    color: #000000;
  }
  ._2p3a {
    width: 100% !important;
  }
  .fb_iframe_widget iframe {
    width: 100% !important;
  }
  header .botonera-responsive .botones-responsive a {
    background: #95251f;
    color: #ffffff;
    text-decoration: none;
    padding: 4px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-family: "AvenirLTStd-Light";
  }
  .formatos {
    padding-left: 0;
    padding-right: 0;
  }
  header .fa-user {
    padding-top: 35px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    /* background: #95251F; */
    color: #95251f;
    /* color: #FFFFFF; */
    font-size: 22px;
  }
}
@media (max-width: 767px) and (min-width: 0px) {
  .btn-primarym {
    margin: auto;
  }
  header .header-content .botonera-responsive .logo {
    padding-top: 13px;
  }
  .clasificados .boton-enviarclasificado {
    margin-bottom: 20px;
  }
  .detalle-producto h2 {
    padding-top: 20px;
  }
  .pqr-app {
    width: 80px;
  }
  .pqr-app p {
    font-size: 12px;
  }
  .galeria-album .imagen-album img {
    width: 100%;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .menu-responsive .fa-bars {
    margin-top: -48px;
  }
  header .header-content .botonera-responsive .logo {
    padding-top: 4px;
  }

  .facebook-interna {
    padding-top: 20px;
  }
  .contacto .informacion-contacto {
    padding-top: 0px;
  }
  .contenedor-seccion .descripcion-seccion h3 span {
    font-size: 30px;
  }
  .facebook {
    text-align: center;
    margin-bottom: 4%;
    display: table;
  }
  .fotos h3 {
    margin-top: 30px;
  }
  .formulario-pqr {
    padding-right: 0;
    padding-left: 0px;
  }
  .contenedor-seccion .descripcion-seccion h2 {
    font-size: 30px;
  }
  .fondo-imagen-responsive {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .fondo-imagen {
    display: none;
  }
  header .fa-user {
    margin-top: -82px;
  }
  .pqr-app {
    display: none;
  }
  .modal-body .imagen-modal {
    max-width: 64%;
  }
  .modal-body p {
    max-width: 452px;
  }
  .fb_iframe_widget iframe {
    width: 320px !important;
  }
}
@media (max-width: 575px) and (min-width: 0px) {
  .contenedor-seccion .descripcion-seccion h2 {
    font-size: 23px;
  }
  .modal-body .imagen-modal {
    max-width: 42%;
  }
  .modal-body p {
    max-width: 300px;
  }
  .imagen-modal1 img {
    width: 323px;
    margin-top: 7%;
    margin-left: 27%;
  }
  footer .fondo-gris h3::before {
    display: none;
  }
  footer .fondo-gris h3 {
    border-bottom: 2px dashed;
  }
  .contenedor-seccion .descripcion-seccion h3 span::before {
    display: none;
  }
  .menu-responsive ul li:nth-child(odd) {
    background: #f8f6f5;
  }
}
@media (max-width: 320px) and (min-width: 0px) {
  .contenedor-seccion .descripcion-seccion h3 span {
    font-size: 20px;
  }
}
